aiohttp
aiofiles
asyncio
cryptography
dnspython
ffmpeg-python
future
gitpython

pyrogram==2.0.106
tgcrypto==1.2.5
pyromod==3.1.6

hurry.filesize
heroku3

motor==3.0.0
pymongo==4.1.1

pillow
psutil
pyyaml==5.3.1
python-dotenv

py-tgcalls==0.8.6

requests
search-engine-parser
uvloop
wget

youtube-search-python
youtube-search
yt-dlp

telegraph
regex
html5lib
